@page "/yourLernsets"
@using Openlet.Models
@using Microsoft.EntityFrameworkCore
@attribute [Authorize]
@inject OpenletContext OpenletContext
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Counter</PageTitle>

<a href="/createLernset" class="btn btn-primary">Lernset Erstellen</a>

<p>@_username</p>

<div class="list-group mt-3">
    @foreach (var studySet in OpenletContext.StudySets.Where(x => x.User == _user))
    {
        <a href="/StudySet/@studySet.StudySetId" class="list-group-item list-group-item-action">@studySet.Name</a>
    }
</div>



@code{

    private User? _user;
    private string? _username;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        _username = authState.User.Identity?.Name;

        _user = await OpenletContext.Users.FirstOrDefaultAsync(x => x.Email == _username);
    }
}