@page "/yourLernsets"
@using Openlet.Models
@using Openlet.Services
@attribute [Authorize]
@inject OpenletContext OpenletContext
@inject UserService UserService

<PageTitle>Counter</PageTitle>

<a href="/createLernset" class="btn btn-primary">Lernset Erstellen</a>

<div class="list-group mt-3">
    @foreach (var studySet in _studySets)
    {
        <a href="/StudySet/@studySet.StudySetId" class="list-group-item list-group-item-action">@studySet.Name</a>
    }
</div>



@code{
    private List<StudySet> _studySets;
    
    protected override async Task OnInitializedAsync()
    {
        var user = await UserService.GetUser();
        _studySets = OpenletContext.StudySets.Where(x => x.User == user).ToList();
    }
}